footer
    height: 200px
    background: #3C2415
    margin: 0 -24px
    margin-bottom: -24px
    padding-top: 80px
    text-align: center
    
    .container-social
        height: 50px
        width: 250px
        //border: solid black 1px
        margin: 5px auto 5px auto
            
        [class^="social-"]
            display: inline-block
            +size(30px)
            background-color: #8B5E3C
            background-repeat: no-repeat
            margin-top: 10px
            border-radius: 50%
            +transition(background-color .5s ease-out)
            
        .social-1
            background:
                image: url(/assets/img/icons/facebook-icon.svg)
                
        .social-2
            background:
                image: url(/assets/img/icons/twitter-icon.svg)

        .social-3
            background:
                image: url(/assets/img/icons/instagram-icon.svg)
                
        .social-4
            background:
                image: url(/assets/img/icons/devianart-icon.svg)
                
        .social-5
            background:
                image: url(/assets/img/icons/github-icon.svg)
        
        a:hover
            .social-1
                background-color: #43619B
            .social-2
                background-color: #2EA6DE
            .social-3
                background-color: #2A5C83
            .social-4
                background-color: #05CC47
            .social-5
                background-color: black
                
        
    h4
        font-family: Coming Soon
        color: #fff
        margin: 20px 0 0 0
        
@media screen and (max-width: 750px)
    footer
        .container-social
            .social-1
                background-color: #43619B
            .social-2
                background-color: #2EA6DE
            .social-3
                background-color: #2A5C83
            .social-4
                background-color: #05CC47
            .social-5
                background-color: black