footer
    height: 200px
    background: #3C2415
    margin: 0 -24px
    margin-bottom: -24px
    padding-top: 80px
    text-align: center
    
    .container-social
        height: 50px
        width: 250px
        //border: solid black 1px
        margin: 20px auto 5px auto
        
        
        [class^="social-"]
            display: inline-block
            +size(35px)
            //background: pink
            margin-top: 10px
            border-radius: 50%
            
        .social-1
            background:
                image: url(/assets/img/icons/facebook-icon.svg)
        .social-2
            background:
                image: url(/assets/img/icons/twitter-icon.svg)
        .social-3
            background:
                image: url(/assets/img/icons/instagram-icon.svg)
        .social-4
            background:
                image: url(/assets/img/icons/devianart-icon.svg)
        .social-5
            background:
                image: url(/assets/img/icons/codeio-icon.svg)
        
    h4
        color: #fff
        margin-top: 0