.page-wrap
    margin-left: 40%
    padding: 12px 24px
    
    header
        padding: 270px 16px
        text-align: center
        background: $silver
        
        h1
            font:
                size: 72px
                weight: 700
            margin-bottom: 10px
            
    .story-section
        background: $silver
        
        p
            text-align: justify