@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans"), local("FiraSans-Regular"), url(http://fonts.gstatic.com/s/firasans/v5/EjsrzDkQUQCDwsBtLpcVQZBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"), url(http://fonts.gstatic.com/s/firasans/v5/DugPdSljmOTocZOR2CItOhampu5_7CjHW5spxoeN3Vs.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Fira Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Fira Mono"), local("FiraMono"), url(http://fonts.gstatic.com/s/firamono/v3/SlRWfq1zeqXiYWAN-lnG-pBw1xU1rKptJj_0jans920.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Gloria';
  font-style: normal;
  font-weight: 400;
  src: local("Gloria Hallelujah"), local("GloriaHallelujah"), url(https://fonts.gstatic.com/s/gloriahallelujah/v8/CA1k7SlXcY5kvI81M_R28cNDay8z-hHR7F16xrcXsJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Coming Soon';
  font-style: normal;
  font-weight: 400;
  src: local("Coming Soon"), local("ComingSoon"), url(https://fonts.gstatic.com/s/comingsoon/v6/myblyOycMnPMGjfPG-DzP44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  color: #8B5E3C; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

div.side-bar {
  top: 0;
  bottom: 0;
  width: 35%;
  background-color: #F7941E;
  position: fixed;
  z-index: 1; }
  div.side-bar .floating {
    height: 350px;
    width: 350px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 90px;
    z-index: 1;
    max-width: 100%; }
    div.side-bar .floating .bg-img {
      height: 350px;
      width: 350px;
      background-image: url(/assets/img/coffe.svg);
      background-position: center;
      background-repeat: no-repeat;
      max-width: 100%; }
  div.side-bar .shadow {
    width: 300px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 150px 65px black;
    opacity: 0.7;
    position: absolute;
    margin: 0 auto 0 auto;
    left: 0;
    right: 0;
    bottom: 190px;
    max-width: 100%; }

@media screen and (max-width: 750px) {
  div.side-bar {
    display: none; } }
.page-wrap {
  margin-left: 35%;
  padding: 12px 24px; }
  .page-wrap header {
    height: 600px;
    position: relative; }
    .page-wrap header h1 {
      font-size: 50px;
      font-weight: 700;
      font-family: Gloria;
      color: #3C2415;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      margin: 0;
      padding-top: 230px; }
    .page-wrap header p {
      font-weight: 700;
      font-family: Coming Soon;
      margin: 0;
      text-align: center;
      font-weight: 700;
      letter-spacing: 0.2em; }
    .page-wrap header .header-1 {
      position: absolute;
      top: 90px;
      left: -10px;
      height: 200px;
      width: 200px;
      background-image: url(/assets/img/doodles/header-1.svg);
      background-repeat: no-repeat;
      max-width: 100%; }
    .page-wrap header .header-2 {
      position: absolute;
      top: 50px;
      right: 30px;
      height: 200px;
      width: 200px;
      background-image: url(/assets/img/doodles/header-2.svg);
      background-repeat: no-repeat;
      max-width: 100%; }
    .page-wrap header .header-3 {
      position: absolute;
      bottom: 50px;
      right: 60px;
      height: 200px;
      width: 200px;
      background-image: url(/assets/img/doodles/header-3.svg);
      background-repeat: no-repeat;
      max-width: 100%; }
    .page-wrap header .header-4 {
      position: absolute;
      bottom: 90px;
      left: 80px;
      height: 200px;
      width: 200px;
      background-image: url(/assets/img/doodles/header-4.svg);
      background-repeat: no-repeat;
      max-width: 100%; }
  .page-wrap .story-section h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: Coming Soon;
    color: #603A1E;
    margin: 0;
    margin-bottom: 30px; }
  .page-wrap .story-section h2, .page-wrap .story-section h5 {
    text-align: right;
    margin: 0;
    font-family: Coming Soon; }
  .page-wrap .story-section p {
    text-align: justify;
    margin: 30px 0 50px 0;
    text-indent: 50px;
    line-height: 150%; }
    .page-wrap .story-section p a {
      color: #8B5E3C;
      font-weight: bold;
      text-decoration: none; }
      .page-wrap .story-section p a:hover {
        color: #603A1E; }
  .page-wrap .story-section .blog-pic {
    height: 400px;
    width: auto;
    margin: 20px auto 0 auto; }
    .page-wrap .story-section .blog-pic .pic {
      background-image: url(/assets/img/blog-img/1000startup.gif);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 400px; }

@media screen and (max-width: 1200px) {
  .page-wrap header .header-2 {
    height: 150px;
    width: 150px;
    top: 90px; }
  .page-wrap header .header-3 {
    height: 150px;
    width: 150px;
    bottom: 90px; }
  .page-wrap header .header-4 {
    height: 150px;
    width: 150px; } }
@media screen and (max-width: 750px) {
  .page-wrap {
    margin: auto; }
    .page-wrap header {
      height: 450px; }
      .page-wrap header h1 {
        padding-top: 25%;
        font-size: 35px; }
      .page-wrap header p {
        font-size: 11px; }
      .page-wrap header .header-1 {
        top: auto;
        left: auto;
        height: 80px;
        width: 80px;
        bottom: 50px;
        right: 0;
        -webkit-transform: rotate(50deg);
        -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -o-transform: rotate(50deg);
        transform: rotate(50deg); }
      .page-wrap header .header-2 {
        height: 60px;
        width: 60px;
        top: 35px; }
      .page-wrap header .header-3 {
        display: none; }
      .page-wrap header .header-4 {
        height: 60px;
        width: 60px;
        left: 20px;
        bottom: 20px; }
      .page-wrap header .bg-container {
        height: 200px;
        width: 200px;
        background: #F7941E;
        margin: 5px auto 0 auto;
        padding: 5px;
        border-radius: 10%; }
        .page-wrap header .bg-container .bg-img-mobile {
          height: 200px;
          width: 200px;
          background-image: url(/assets/img/coffe.svg);
          background-position: center;
          background-repeat: no-repeat;
          max-width: 100%; } }
@media screen and (max-width: 380px) {
  .page-wrap header h1 {
    padding-top: 30%; }
  .page-wrap header .header-1 {
    right: 0; }
  .page-wrap header .bg-container {
    height: 150px;
    width: 150px; }
    .page-wrap header .bg-container .bg-img-mobile {
      height: 150px;
      width: 150px; } }
.profile {
  height: cover;
  margin: 0 -24px;
  margin-bottom: 24px;
  padding: 24px;
  padding-top: 0;
  font-family: Coming Soon; }
  .profile h1 {
    font-size: 40px;
    font-weight: 900;
    font-family: Coming Soon;
    color: #603A1E;
    margin: 0; }
  .profile .container {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;
    box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-direction: column-reverse; }
    .profile .container .avatar {
      height: 130px;
      width: 130px;
      margin: 20px auto;
      background-image: url(/assets/img/avatar.jpg);
      background-size: cover;
      -webkit-filter: grayscale(100%);
      border-radius: 50%; }
    .profile .container .blurb {
      flex: 1;
      margin: 0 30px; }
      .profile .container .blurb p {
        text-align: center;
        margin: 5px 0; }
        .profile .container .blurb p b {
          color: #603A1E; }
        .profile .container .blurb p a {
          color: #603A1E;
          font-weight: bold;
          text-decoration: none; }

@media screen and (max-width: 750px) {
  .profile h1 {
    font-size: 32px; }
  .profile .container .avatar {
    height: 100px;
    width: 100px; }
  .profile .container .blurb {
    margin: 0 10px; }
    .profile .container .blurb p {
      text-align: center; } }
footer {
  height: 200px;
  background: #3C2415;
  margin: 0 -24px;
  margin-bottom: -24px;
  padding-top: 80px;
  text-align: center; }
  footer .container-social {
    height: 50px;
    width: 250px;
    margin: 5px auto 5px auto; }
    footer .container-social [class^="social-"] {
      display: inline-block;
      height: 30px;
      width: 30px;
      background-color: #8B5E3C;
      background-repeat: no-repeat;
      margin-top: 10px;
      border-radius: 50%;
      -webkit-transition: background-color 0.5s ease-out;
      -moz-transition: background-color 0.5s ease-out;
      transition: background-color 0.5s ease-out; }
    footer .container-social .social-1 {
      background-image: url(/assets/img/icons/facebook-icon.svg); }
    footer .container-social .social-2 {
      background-image: url(/assets/img/icons/twitter-icon.svg); }
    footer .container-social .social-3 {
      background-image: url(/assets/img/icons/instagram-icon.svg); }
    footer .container-social .social-4 {
      background-image: url(/assets/img/icons/devianart-icon.svg); }
    footer .container-social .social-5 {
      background-image: url(/assets/img/icons/github-icon.svg); }
    footer .container-social a:hover .social-1 {
      background-color: #43619B; }
    footer .container-social a:hover .social-2 {
      background-color: #2EA6DE; }
    footer .container-social a:hover .social-3 {
      background-color: #2A5C83; }
    footer .container-social a:hover .social-4 {
      background-color: #05CC47; }
    footer .container-social a:hover .social-5 {
      background-color: black; }
  footer h4 {
    font-family: Coming Soon;
    color: #fff;
    margin: 20px 0 0 0; }

@media screen and (max-width: 750px) {
  footer .container-social .social-1 {
    background-color: #43619B; }
  footer .container-social .social-2 {
    background-color: #2EA6DE; }
  footer .container-social .social-3 {
    background-color: #2A5C83; }
  footer .container-social .social-4 {
    background-color: #05CC47; }
  footer .container-social .social-5 {
    background-color: black; } }

/*# sourceMappingURL=main.css.map */
